@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  font-family: "Open Sans";
}

.full-page {
  min-height: 100vh;
}

.bg-primary {
  background-color: #c49ca5 !important;
}

.bg-secondary {
  background-color: #1b324b !important;
}

.title-container {
  padding: 5rem 0 2rem 0;
}

.navbar-dark .navbar-brand {
  color: #1b324b !important;
  font-size: 22px;
  font-weight: 700;
}

.navbar-dark .nav-link {
  color: #1b324b !important;
  font-weight: 500;
}

.question-card {
  padding: 1rem 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn-lg {
  font-weight: 500;
}

.answer-caption {
  width: 120px;
  margin: 0 16px;
  font-size: 18px;
}

.answer-radio {
  width: 36px;
  height: 36px;
  margin: 0 12px;
}

@media (max-width: 600px) {
  .question-card {
    font-size: 14px;
  }

  .answer-radio {
    width: 24px;
    height: 24px;
    margin: 0 4px;
  }

  .answer-caption {
    width: 80px;
    margin: 0 4px;
    font-size: 12px;
  }
}
